<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Multiplayer World Assignment Component</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="assignment.css">
        <!-- make sure to include jquery, epicenter.js and login.js -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
        <script src="../../epicenter-edge.js"></script>
        <script src="assignment.js"></script>
    </head>
    <body>

    <div class="container">
        <div class="row">
            <div class="col-xs-8">

            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <div id="assignment-component">
                    <table class="table users-table">
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="select-all"></th>
                                <th>World</th>
                                <th>Role</th>
                                <th>Name</th>
                                <th>Username</th>
                                <th>Unassigned</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>



                </div>

            </div>
        </div>
    </div>

    </body>
</html>