<td><input type="checkbox" class="select" data-id="<%= id %>"</td>
<td></td>
<td>
    <select name="worlds" class="form-control" data-field="world">

    <% _.each(worlds, function (w) { %>
        <option value="<%= w %>" <%= w === world ? 'selected' : '' %>><%= w %></option>
    <% }); %>
        <option value="<%= newWorld %>" class="new-world-text"><i><%= newWorld %> - New -</i></option>
    </select>
</td>
<td>
    <select name="roles" class="form-control" data-field="role">
    <% _.each(roles, function (r) { %>
        <option value="<%= r %>" <%= r === role ? 'selected' : '' %>><%= r %></option>
    <% }); %>

    <% _.each(optionalRoles, function (r) { %>
        <option value="<%= r %>" <%= r === role ? 'selected' : '' %>><%= r %> <i>(Optional)</i></option>
    <% }); %>
    </select>
</td>
<td><%= lastName %></td>
<td><%= userName %></td>
<td><%= !world ? '<em class="f-icon f-warning"></em>' : '' %></td>
<td class="actions">
    <button class="btn btn-primary btn-tools btn-save save">Save</button>
    <button class="btn btn-tools btn-cancel cancel">Cancel</button>
</td>