---
title: Run Manager Strategies
layout: "default"
isPage: true
---

## Run Manager Strategies

The [Run Manager](../run-manager/) gives you control over run creation, depending on run state. You can select run creation stratgies (rules) for which runs end users of your project work with when they log in to your project.

There are several strategies included in epicenter.js:

<? docfiles.forEach(function (doc) { ?><? var moduleName = doc.filename.split('/').pop().split('.')[0].replace('-strategy', '') ?>
* [<?= moduleName ?>](#<?= moduleName ?>)<? }); ?>

You can also [create your own](#create-your-own).

<? docfiles.forEach(function (doc) { ?>
    <? var moduleName = doc.filename.split('/').pop().split('.')[0].replace('-strategy', '') ?>
    <a name="<?= moduleName ?>"></a>
    #### <?= moduleName ?>

    <? var moduleDoc = doc.javadoc.shift() ?>
    <?= moduleDoc.description ?>
<? }); ?>

<a name="create-your-own"></a>
#### Create your own

You can create your own strategy by passing in a function in the `strategy` parameter to the `F.manager.RunManager()` instantiation call. 

Strategy functions must return a boolean value for whether or not to create a new run.
