---
title: Run Manager Strategies
layout: "default"
isPage: true
---

## Run Manager Strategies

The [Run Manager](../run-manager/) gives you control over run creation, depending on run state. You can select run creation stratgies (rules) for which runs end users of your project work with when they log in to your project.

There are several strategies included in epicenter.js:

<? docfiles.forEach(function (doc) { ?><? var moduleName = doc.filename.split('/').pop().split('.')[0].replace('-strategy', '') ?>
* [<?= moduleName ?>](#<?= moduleName ?>)<? }); ?>

You can also [create your own](#create-your-own).

<? docfiles.forEach(function (doc) { ?>
    <? var moduleName = doc.filename.split('/').pop().split('.')[0].replace('-strategy', '') ?>
    <? var moduleDoc = doc.javadoc.shift() ?>
    <a name="<?= moduleName ?>"></a>
    #### <?= moduleName ?> 
    <? if (moduleDoc.name){ ?>###### a.k.a <?= moduleDoc.name ?> <? } ?><? if (moduleDoc.deprecated){ ?>##### DEPRECATED<? } ?>

    <?= moduleDoc.description ?>
    <? console.log(moduleDoc) ?>
<? }); ?>

<a name="create-your-own"></a>
#### Create your own

You can create your own strategy by passing in a function in the `strategy` parameter to the `F.manager.RunManager()` instantiation call. Strategy functions must return objects of the form:

	{
		getRun: function() {},
		reset: function() {}
	}

Some strategies have options you can specify through `strategyOptions` in the [Run Manager](../run-manager/). If you create your own strategy, this options object is passed in to your strategy function constructor. 

For example:

	// myNewStrategy.js
	var classFrom = require('../../util/inherit');
	var Base = {};
	var defaults = { };
	module.exports = classFrom(Base, {
	    constructor: function (options) {
	        this.options = $.extend(true, {}, defaults, options.strategyOptions);
	        // parse or set options as needed
	    },
	    getRun: function (runService, session) {
	    	// return the correct run
	    	// for example, the most recent run that matches some critiera of your choosing
	    },
	    reset: function (runService, session) {
	    	// how to respond to a reset call
	    	// for example, by creating a new run
	    }
	});


