<!doctype html>
<html>
<head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="../../../dist/epicenter-edge.js"></script>
</head>
<body>
    <section>
      <form action="">
        <label for="">Account</label>
        <input type="text" id="txtAccount"  value="team-naren">
        <br/>

        <label for="">Project</label>
        <input type="text" id="txtProject" value="authenticated-smart-watch" >
        <br/>

        <label for="">Username</label>
        <input type="text" id="txtUsername" value="a1" >
        <br/>

        <label for="">Password</label>
        <input type="text" id="txtPassword" value="a1a1a1a1" >
        <br/>
        <button id="btnLogin"> Login </button>
        <a href="#" id='logout'> Logout</a>
      </form>
    </section>
    <hr>
    
    <h3>Run Manager</h3>
    <table class="table">
        <thead>
           <tr>
               <th class="strong"> Scenario Name </th>
               <th></th>
           </tr>
        </thead>
        <tbody class="runsList">

        </tbody>
    </table>
    <script id="runTemplate" type="text/template">
        <tr data-runid="<%= run.id %>">
            <td><%= run.name %></td>
            <td><% if (!run.nonRemovable) { %> <button class="btn btn-link btn-remove pull-right">Remove</button> <% } %></td>
        </tr>
    </script>


    <script src="./test-scenario-manager.js"></script>
</body>
</html>
